.AboutContainer {
	--floral-white: #fffcf2ff;
	--timberwolf: #ccc5b9ff;
	--black-olive: #403d39ff;
	--eerie-black: #252422ff;
	--flame: #eb5e28ff;
	aspect-ratio: 16/9;
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 10vh;
	font-family: "Poppins", Sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: var(--floral-white);
}
.AboutContainer .title {
	position: relative;
	height: auto;
	width: 100%;
	font-size: 4em;
	font-weight: 400;
	line-height: 150%;
	text-align: center;
	color: var(--floral-white);
}
.AboutContainer .title::after {
	content: "";
	position: absolute;
	top: calc(100% + 1vh);
	height: 5px;
	width: 4em;
	background: var(--flame);
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
}
.AboutContainer .Description {
	position: relative;
	height: auto;
	width: 50%;
	font-size: 1.1em;
	line-height: 150%;
	text-align: left;
	color: var(--floral-white);
}
.AboutContainer .skill-container {
	padding: 12px;
	width: 50%;
	height: auto;
	float: right;
	background: var(--black-olive);
	border: 1px solid #4a4a4a;
	border-radius: 15px;
}

.AboutContainer .main-container {
	position: relative;
	display: flex;
	width: 75%;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	height: auto;
	margin: 5rem auto 0 auto;
}

.skill-container .skill-title {
	position: relative;
	margin: 5px 5px 25px 5px;
	font-size: 2em;
	width: 100%;
	line-height: 150%;
	text-align: left;
}
.skill-container .skill-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	padding: 0;
	gap: 12px;
}

.skill-list .skill-item {
	background-color: var(--eerie-black);
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 12px;
	border-radius: 5px;
}
.skill-list .skill-item img {
	height: 30px;
}

.AboutContainer .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 100%;
	text-decoration: none;
	color: var(--floral-white);
	font-size: 1.2em;
	border-radius: 5px;
	width: 10vw;
	height: 5vh;
	font-weight: bold;
	border: 2px solid var(--floral-white);
	transition: 0.3s;
	box-shadow: 3px 3px 0px 0px rgba(235, 94, 40, 1);
	background-color: var(--eerie-black);
}
.AboutContainer .btn:hover {
	box-shadow: 0 0 var(--black-olive);
	color: #fff;
	background-color: var(--black-olive);
	outline: none;
}
