.navbar {
    position: fixed;
    width: 100%;
    min-width: 50px;
    height: auto;
    --floral-white: #fffcf2ff;
    --timberwolf: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --flame: #eb5e28ff;
    justify-content:center;
    background-color: transparent !important;
    z-index: 3;
}


.nav-link {
    height: 50px;
    position: relative;
    color: white !important;
    font-family: "Poppins",Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 46px;
    margin-right: 5vh;
    color: var(--floral-white) !important;
    transition: ease  0.5s;
}

    .nav-link:hover {
        color: var(--flame) !important;
        border-bottom: solid 1px;
    }

.headerContainer {
    position: relative;
}

.personalLogo {
    position: relative;
    width: 160px;
    padding-bottom:1vw;
    height: auto;
    margin-right: 5vw;
}

