.HomeContainer {
    position: relative;
    width: auto;
    min-width: 1800px;
    max-width: 1920px;
    min-height: 1080px;
    background: #DDD0C8;
    color: #323232;
}

.intro {
    position: absolute;
    width: 415px;
    height: 108px;
    left: 15%;
    top: 214px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    text-align: left;
    color: #323232;
}

.description {
    position: absolute;
    width: 415px;
    height: 90px;
    left: 15%;
    top: 337px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: #323232;
}

.homePic {
    position: absolute;
    width: 862px;
    height: 660.81px;
    left: 756px;
    top: 80px;
    float:right;
    background: #171A1B;
    opacity: 0.8;
    border: 1px solid #4A4A4A;
    border-radius: 15px 15px 0px 0px;
}

.redButton {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 24px;
    top: 11px;
    background: #FF5F56;
    border-radius: 50%;
}

.yellowButton {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 40px;
    top: 11px;
    background: #FFBD2E;
    border-radius: 50%;
}

.greenButton {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 56px;
    top: 11px;
    background: #27C93F;
    border-radius: 50%;
}

.url {
    position: absolute;
    width: 300px;
    height: 14px;
    left: 248px;
    top: 8px;
    background: #202226;
    opacity: 0.9;
    border-radius: 5px;
    color:white;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.skillsCategory {
    position: absolute;
    min-width: 600px;
    min-height: 116px;
    height: auto;
    width: auto;
    left: 106px;
    top: 130px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.educationCategory {
    position: absolute;
    min-width: 190px;
    min-height: 116px;
    height: auto;
    width: auto;
    left: 106px;
    top: 370px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.purpleText {
    position: relative;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* or 112% */
    color: #0094ff;
    float: left;
}

.firstBracket {
    position: relative;
    float: left;
    padding-left: 2em;
    color: white;
}


.endBracket {
    position:absolute;
    top: 100%;
    left: 0%;
}

.category {
    position: relative;
    clear: left;
    padding: 1em 0em 1em 4em;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    /* or 112% */
    letter-spacing: -0.015em;
    color: #0EE6B7;
}

.subCategory {
    position: relative;
    clear: left;
    padding: 1em 0em 1em 4em;
    margin-top: -0.5em;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 12px;
    text-align: start;
    letter-spacing: -0.015em;
    color: #0EE6B7;
}

.categoryText {
    padding-left:0.5em;
    font-family: 'Fira Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    letter-spacing: 0.025em;
    color: white;
}

.rounded-Button {
    position: absolute;
    border-style: none;
    background: #DDD0C8;
    left: 15%;
    top: 470px;
}

.rounded-Button2 {
    position: absolute;
    border-style: none;
    background: #DDD0C8;
    left: 20%;
    top: 470px;
    opacity: 0.80;
}

.linkIcons {
    width: 60px;
    height: 60px;
}