.HomeContainer {
    aspect-ratio: 16/9;
    position: relative;
    min-width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    max-height: 1080px;
    --floral-white: #fffcf2ff;
    --timberwolf: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --flame: #eb5e28ff;
    background-image: url("./assets/background1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--floral-white);
}

    .HomeContainer .introContainer {
        position: relative;
        width: auto;
        height: auto;
        justify-content:center;
        align-content:center;
        top: 20vh;
    }

    .HomeContainer .intro {
        position: relative;
        height: auto;
        font-family: "Poppins",Sans-serif;
        font-weight: 600;
        font-size: 75px;
        line-height: 1.4em;
        color: var(--flame);
    }

    .HomeContainer .description {
        position: relative;
        min-width: auto;
        max-width: 95vh;
        min-height: 90px;
        padding-left: 10vh;
        padding-right: 10vh;
        margin-left: auto;
        margin-right: auto;
        font-family: "Poppins",Sans-serif;
        font-size: 22px;
        text-align: center;
        color: var(--floral-white);
    }


    .HomeContainer .introContainer .picContainer {
        position: relative;
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

        .HomeContainer .introContainer .picContainer .dcAvatar {
            position: relative;
            width: 300px;
            height: auto;
        }
        .HomeContainer .introContainer .picContainer .waveHand {
            position: absolute;
            left: 55%;
            top: 65%;
            transform: scaleX(-1);
            width: 90px;
            height: auto;
        }

    .HomeContainer .leftImage {
        position: absolute;
        height: auto;
        width: auto;
        float: left;
        bottom: 5px;
    }
        .HomeContainer .leftImage .homePic1 {
            height: 250px;
            min-height: 100px;
            width: auto;
        }
    .HomeContainer .rightImage {
        position: absolute;
        height: auto;
        width: auto;
        bottom:5px;
        right: 10%;
    }

        .HomeContainer .rightImage .homePic2 {
            position: relative;
            height: 250px;
            width: auto;
        }

        .HomeContainer .rightImage .codeGif {
            position: absolute;
            height: 194px;
            width: 375px;
            padding-top: 10px;
            padding-left: 82px;
        }

.social-links, .flex-center {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: "Poppins",Sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: var(--floral-white);
    margin: 5px;
    transition: 0.5s;
    justify-content: center;
}

    .social-btn img {
        height: 30px;
        width: 30px;
    }

    .social-btn span {
        width: 0px;
        overflow: hidden;
        transition: 0.3s;
        text-align: center;
        margin-left: 2px;
    }

    .social-btn:hover {
        width: 150px;
        border-radius: 5px;
    }

        .social-btn:hover span {
            padding: 2px;
            width: 80px;
        }

#resume svg {
    fill: #1da1f2;
}

#linkedin svg {
    fill: #0e76a8;
}

#github {
    fill: #333;
}
